{%extends 'base.html'%}
{%load static%}
{% block conteudo%}
                <div class="grid three column stackable ui">
                    {%for anun in anuncios%}
                    <div class=" wide column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img style="height: 150px;" src="{{site}}{{anun.imagem}}">
                            </div>
                            <div class="content">
                            <a href="{%url 'anuncio' anun.id %}" class="header">{{anun.titulo}}</a>
                            </div>
                            <div class="extra content">
                               R$ {{anun.preco}}
                            </div>
                        </div>
                    </div>
                    {%empty%}
                        <div class="ui fluid message">Nenhum anúncio foi encontrado!</div>
                    {%endfor%}
                </div>
{%endblock%}
